<div class="row">

<div class="col-md-3 logo">
    <a class="navbar-brand hidden-sm" href="{{ url('/') }}"><img src="https://d2f5cg397c40hu.cloudfront.net/website-static-files/images/october-color-logo-v1.svg" alt="OctoberCMS Logo" width="211" height="35"></a>
</div>
<div class="col-md-6 search">
    <div class="row" style="padding-top: 3px;">
        <input typxe="text" class="col-md-8 form-control" id="searh-navbar">
        <button  class="btn btn-primary" style="height: 36px; margin-left: 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">RECHERCHER</button>
    </div>
    
</div>
<div class="col-md-1 panier">
    <a href="{{ url('cart/') }}"> <i class="fas fa-shopping-cart"></i> Panier</a>
</div>
</div>